version: '3'

services:

  app:
    build: .
    container_name: app
    #entrypoint: dockerize -template ./.docker/app/.env:.env -wait tcp://db:3306 -timeout 40s ./.docker/entrypoint.sh
    environment:
      - DB_HOST=db
      - DB_DATABASE=laravel
      - DB_USERNAME=root
      - DB_PASSWORD=root
      - GOOGLE_CLOUD_PROJECT_ID={$GOOGLE_CLOUD_PROJECT_ID}
      - GOOGLE_CLOUD_KEY_FILE={$GOOGLE_CLOUD_KEY_FILE}
      - GOOGLE_CLOUD_STORAGE_BUCKET={$GOOGLE_CLOUD_STORAGE_BUCKET}
      - GOOGLE_CLOUD_STORAGE_API_URI={$GOOGLE_CLOUD_STORAGE_API_URI}
      - TESTING_PROD=t{$TESTING_PROD}
    volumes:
      - .:/var/www
    networks:
      - app-network
    depends_on:
      - db
      - redis

  nginx:
    build: .docker/nginx
    container_name: ngnix
    restart: always
    tty: true
    ports:
      - "8000:80"
    volumes:
      - .:/var/www
    networks:
      - app-network
    depends_on:
      - app

  db:
    build: .docker/mysql
    command: --innodb-use-native-aio=0
    container_name: db
    restart: always
    tty: true
    ports:
      - "33006:3306"
    volumes:
      - ./.docker/dbdata:/var/lib/mysql
    environment:
      - MYSQL_DATABASE=laravel
      - MYSQL_ROOT_PASSWORD=root
      - MYSQL_USER=root
    networks:
      - app-network

  redis:
    image: redis:alpine
    expose:
      - 6379
    networks:
      - app-network


networks:
  app-network:
    driver: bridge
